body {
    background-image: url("../assets/images/wallp.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

header {
    margin-top: 50px;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

#form {
    justify-content: center;
    align-items: center;
}

#list-container {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    max-width: 260px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 20px;
    opacity: 0;
    width: 200px;
    height: 200px;
    color: white;
}

.overlay:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

button {
    margin: 10px 0 0 80px;
}

footer{
    padding: 1rem .5rem 2rem !important;
}

img {
    width: 200px;
    height: 200px;
}

li:hover {
    color:blue;
}



@media screen and (max-width: 575px) {
    li {
        font-size:12px;
    }
    #savedSongs {
        margin-top: 15px;
    }
}