body {
    background-image: url("../assets/images/wallp.jpeg");
    background-size: cover;
    min-height: 100vh;
}

header {
    margin-top: 50px;
}

#form {
    justify-content: center;
    align-items: center;
}

footer{
    padding: 1rem .5rem 2rem !important;
}

li {
margin-left:11px;
color:black;
}

li:hover {
color:blue;
}

@media screen and (max-width: 575px) {
    li {
        font-size:12px;
    }
}
